/* Debian language css file for catalan - ca */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes ok */
html[lang=ca] q:before { content: "\00AB"; }
html[lang=ca] q:after { content: "\00BB"; }
html[lang=ca] q q:before { content: "\0022"; }
html[lang=ca] q q:after { content: "\0022"; }

html[lang=ca] blockquote.quote p:first-child:before { content: "\00AB"; }
html[lang=ca] blockquote.quote p:after { content: ""; }
html[lang=ca] blockquote.quote p.last:after { content: "\00BB"; }
