/* Debian language css file for czech - cs */
/* please do not touch for now! - Jutta Wrage 2005 */

html[lang=cs] #maincol {}

/* quotes ok */
html[lang=cs] q:before { content: "\201E"; }
html[lang=cs] q:after { content: "\201C"; }
html[lang=cs] q q:before { content: "\201A"; }
html[lang=cs] q q:after { content: "\2018"; }

html[lang=cs] blockquote.quote p:first-child:before { content: "\201E"; }
html[lang=cs] blockquote.quote p:after { content: ""; }
html[lang=cs] blockquote.quote p.last:after { content: "\201D"; }
