/* Debian language css file for hungarian - hu */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes */
html[lang=hu] q:before { content: "\201E"; }
html[lang=hu] q:after { content: "\201D"; }

html[lang=hu] blockquote.quote p:first-child:before { content: "\201E"; }
html[lang=hu] blockquote.quote p:after { content: ""; }
html[lang=hu] blockquote.quote p.last:after { content: "\201D"; }

/* html[lang=hu] q:before { content: "\00BB"; }
html[lang=hu] q:after { content: "\00AB"; }
*/
