/* Debian language css file for slovak - sk */
/* please do not touch for now! - Jutta Wrage 2005 */

html[lang=sk] #maincol {}

/* quotes ok */
html[lang=sk] q:before { content: "\201E"; }
html[lang=sk] q:after { content: "\201C"; }
html[lang=sk] q q:before { content: "\201A"; }
html[lang=sk] q q:after { content: "\2018"; }

html[lang=sk] blockquote.quote p:first-child:before { content: "\201E"; }
html[lang=sk] blockquote.quote p:after { content: ""; }
html[lang=sk] blockquote.quote p.last:after { content: "\201C"; }
